.jumbotron{
    background-color: #a5d8ff;
    color: black;
    margin-top: 50px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: #BEB7A4;
    margin-bottom: 0px;
    margin-top: 10px;
}

.bread{
    margin-top: 10px;
}
.card-hotel{
    flex: 1 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0%;
}

.icon{
    width: 1em;
    text-align: center;
    box-sizing: content-box;
}

.footer-addres-icon{
    padding-right: 10px;
}

.conta{
    align-items: flex-end;
}