$mycolor: #9EC5AC;
$color2: #104F55;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color: $mycolor;
    color: black;
    @include margenes(50px,0px);
}

footer{
    padding: 10px 10px 0 10px;
    background-color: $color2;
    @include margenes(10px,0px );
}

.bread{
    @include margenes(10px,0px );
}
.card-hotel{
    flex: 1 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include margenes(10px, 0px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0%;
}

.icon{
    width: 1em;
    text-align: center;
    box-sizing: content-box;
}

.footer-addres-icon{
    padding-right: 10px;
}

.conta{
    align-items: flex-end;
}