.jumbotron {
  background-color: #9EC5AC;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #104F55;
  margin-top: 10px;
  margin-bottom: 0px;
}

.bread {
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-hotel {
  flex: 1 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0%;
}

.icon {
  width: 1em;
  text-align: center;
  box-sizing: content-box;
}

.footer-addres-icon {
  padding-right: 10px;
}

.conta {
  align-items: flex-end;
}

/*# sourceMappingURL=syles.css.map */
